---
import { Image } from "astro:assets";
import ArrowRight from "./svg/arrow-right.astro";

import HeroPlant from "../images/hero-plant.png";
import HeroPlantS1 from "../images/hero-plant-s1.png";
import HeroPlantS2 from "../images/hero-plant-s2.png";
import HeroPlantS3 from "../images/hero-plant-s3.png";
---

<div
  class="relative mx-auto flex w-full max-w-4xl flex-col gap-y-12 px-5 pb-48 pt-72 lg:max-w-[96rem] lg:flex-row"
>
  <div class="flex flex-col lg:w-1/2">
    <div class="mb-6 font-bricolage text-4xl md:text-6xl">
      <span class="block">Make Your Space</span>
      <div class="relative overflow-clip">
        <span class="text-6xl font-semibold text-[#3A632F] md:text-7xl"
          >Greener 🌱</span
        >
        <div
          id="greener-underline"
          class="absolute -bottom-1.5 -z-10 h-6 w-[14.625rem] -translate-x-full bg-[#FFC973] md:h-8 md:w-[17.625rem]"
        >
        </div>
      </div>
      <span class="block"
        >With <span class="inline-block text-[#A85013]">Plants</span></span
      >
    </div>
    <p
      class="mb-10 max-w-[34.625rem] pr-16 font-raleway text-lg font-extralight md:text-xl"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In orci ligula.
    </p>
    <div class="flex flex-col gap-x-8 gap-y-3 sm:flex-row">
      <a
        href="/"
        class="group flex w-[12rem] items-center justify-center gap-x-3 rounded-full border border-black bg-black py-4 text-lg text-[#F9F5E9] md:text-xl"
      >
        Shop Plant <ArrowRight
          className="transition duration-300 group-hover:translate-x-1"
        />
      </a>
      <a
        href="/"
        class="group flex w-[12rem] items-center gap-x-3 rounded-full border border-black px-8 py-4 text-lg text-[#1E1E1E] md:text-xl"
      >
        About Us <ArrowRight
          fill="#1E1E1E"
          className="transition duration-300 group-hover:translate-x-1"
        />
      </a>
    </div>
  </div>
  <div class="mx-auto flex max-w-xl items-end lg:w-1/2 lg:max-w-none lg:pl-8">
    <div class="grid h-max w-full grid-cols-2 gap-y-2 xl:gap-6">
      <div
        class="col-span-full flex h-max items-center gap-x-2 rounded-[1.875rem] bg-[#EBEBEB] px-10 py-1.5"
      >
        <div>
          <h3 class="font-bricolage text-lg font-semibold md:text-xl">
            Section 1
          </h3>
          <p
            class="h-10 overflow-clip text-ellipsis font-raleway text-sm text-[#797979] md:h-12 md:text-base"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In orci
            ligula, consectetur sit amet.
          </p>
        </div>
        <Image src={HeroPlantS1} alt="" />
      </div>
      <div
        class="col-span-full flex h-max items-center justify-between gap-x-2 rounded-[1.875rem] bg-[#EBEBEB] px-10 py-1.5 xl:col-span-1"
      >
        <div>
          <h3 class="font-bricolage text-lg font-semibold md:text-xl">
            Section 2
          </h3>
          <p
            class="h-10 overflow-clip text-ellipsis font-raleway text-sm text-[#797979] md:h-12 md:text-base"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In orci
            ligula, consectetur sit amet.
          </p>
        </div>
        <Image src={HeroPlantS2} alt="" />
      </div>
      <div
        class="col-span-full flex h-max items-center justify-between gap-x-2 rounded-[1.875rem] bg-[#EBEBEB] px-10 py-1.5 xl:col-span-1"
      >
        <div>
          <h3 class="font-bricolage text-lg font-semibold md:text-xl">
            Section 3
          </h3>
          <p
            class="h-10 overflow-clip text-ellipsis font-raleway text-sm text-[#797979] md:h-12 md:text-base"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In orci
            ligula, consectetur sit amet.
          </p>
        </div>
        <Image src={HeroPlantS3} alt="" class="w-max" />
      </div>
    </div>
  </div>
  <Image
    src={HeroPlant}
    alt=""
    class="absolute -right-96 -top-36 -z-10 hidden w-full min-w-[48rem] max-w-4xl sm:block md:-right-80"
  />
</div>

<style>
  #greener-underline {
    animation: greenerUnderlineAnimation 1s ease-out 1 forwards;
  }

  @keyframes greenerUnderlineAnimation {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }
</style>
