---
import Header from "../components/header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="overflow-x-hidden">
    <Header />
    <slot />
  </body>
</html>

<style>
  @font-face {
    font-family: "BricolageGrotesque";
    src: url("/fonts/bricolage-grotesque/BricolageGrotesque-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque";
    src: url("/fonts/bricolage-grotesque/BricolageGrotesque-Light.ttf");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque";
    src: url("/fonts/bricolage-grotesque/BricolageGrotesque-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque";
    src: url("/fonts/bricolage-grotesque/BricolageGrotesque-Medium.ttf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque";
    src: url("/fonts/bricolage-grotesque/BricolageGrotesque-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque";
    src: url("/fonts/bricolage-grotesque/BricolageGrotesque-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque";
    src: url("/fonts/bricolage-grotesque/BricolageGrotesque-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway/Raleway-Thin.ttf");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway/Raleway-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway/Raleway-Light.ttf");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway/Raleway-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway/Raleway-Medium.ttf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway/Raleway-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway/Raleway-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway/Raleway-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway/Raleway-Black.ttf");
    font-weight: 900;
    font-style: normal;
  }
</style>
